{% extends "master.html" %}

{% block title %}
    Details about {{mymember.firstname}} {{mymember.lastname}}
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>{{mymember.firstname}} {{mymember.lastname}}</h1>
    <div class="detail-grid">
        <div class="detail-item">
            <span class="detail-label">Age: </span>
            <span class="detail-value">{{mymember.age}}</span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Email: </span>
            <span class="detail-value">{{mymember.email}}</span>
        </div>
    </div>
</div>
{% endblock %}